*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    background-color: #212832;
    width: 100%;
    position: fixed;
    z-index: 999;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    width: 100%;
}

nav ul li{
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
}
nav ul li a{
    color: rgba(255, 255, 255, 0.55);

}

nav ul li a:hover{
    color: rgba(160, 130, 130, 0.205);
}

footer {
    color: #a7aeb8;
    background-color: gray;
}

/*m p f*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.pb3{
    padding-bottom: 3%;
}
.mr3{
    margin-right: 3%;
}
.ml3{
    margin-left: 3%;
}
.mt3{
    margin-top: 3%;
}
.mb3{
    margin-bottom: 3%;
}
.mt20{
    margin-top: 20%;
}
.mr20{
    margin-right: 20%;
}
.cut{
    margin-left: 10%;
    margin-right: 10%;
}
.ml10{
    margin-left: 10%;
}
.mr10{
    margin-right: 10%;
}
.ml30{
    margin-left: 30%;
}
.mt10{
    margin-top: 10%;
}
.pr20{
    padding-right: 20%;
}
.round{
    border-bottom-left-radius: 15vh;
    border-bottom-right-radius: 15vh;
}
.pt10{
    padding-top: 10%;
}
/*containers*/
.container1{
    
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 8%;
}
.container2{
    
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 8%;
    flex-wrap: wrap;
    justify-self: flex-start;
    align-items: flex-start;
}
.container3{
    display: flex;
    justify-content: space-evenly;
    gap: 8%;
}
.item{
    width: 33%;
}
.container4{
    display: flex;
    justify-content: space-evenly;
    gap: 0.1vh;
    justify-self: center;
    align-items: center;

}
.container5{
    display: flex;
    justify-content: space-evenly;
    gap: 8%;
    justify-self: center;
    align-items: center;

}
.fw{
    flex-wrap: wrap;
}
.container6{
    display: flex;
    justify-content: space-evenly;
    gap: 8%;
    justify-self: center;
    align-items: center;

}
.container7{
    display: flex;
    justify-content: space-evenly;
    gap: 8%;
    justify-self: flex-start;
    align-items: flex-start;

}

.container5:hover{
    transform: scale(1.2);
}
.container6:hover{
    transform: scale(1.2);
}

.item{
    width: 50%;
}
.w100{
    width: 100%;
}
/*img*/
.img1{
    width: 50%;
}
.img2{
    width: 2vh;
    background-color: orange;
    border-radius: 50%;
}
.img3{
    width: 2vh;
}
.img4{
    position: relative;
    width: 6vh;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    bottom: 2vh;
}
.imground{
    border-radius: 50%;
    background-color: violet;
    width: 15%;
}
/*colors*/
.bcblue{
    background-color: #0061f2;
}
.cw{
    color: white !important;
}
.cb{
    color: black !important;
}
.cg{
    color: gray !important;
}
.cb{
    color: blue !important ;
}
.bcb{
    background-color:#212832 !important;
}
.pb10{
    padding-bottom: 10%;
}
.w30{
    width: 30%;
}
.bcw{
    background-color: white;
}
.brws{
    background-color: whitesmoke;
}
/*fonts*/
.font1{
    font-size: 5vh;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.font2{
    font-size: 2vh;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.55);
    font-family: Arial, Helvetica, sans-serif;
}

.font3{
    font-size: 2vh;
    font-weight: 400;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.font4{
    font-size: 3vh;
    font-weight: 400;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tac{
    text-align: center;
}

/*display*/
.inline{
    display: inline;
}
.block{
    display: block;
}
/**/
.button1{
    background-color: 
    #00b993;    
    text-align: center;
    color: white;
    border-radius: 1.3vh;
    padding: 10px;
}

.button2{
    background-color: 
    white;    
    text-align: center;
    color: black;
    border-radius: 1.3vh;
    padding: 10px;
}
.button3{
    background-color: 
    blue;    
    text-align: center;
    color: white;
    border-radius: 1.3vh;
    padding: 10px;
}
.button1:hover{
    color: white !important;;
    background-color:#0f967b;   ;
}


.hr{
    transform:rotate(90deg);
    width: 50vh;
}
.rotate{
    transform: skew(15deg, 0);
    z-index: 0;
}

.rb{
    margin-left: 43%;
    margin-right: 43%;
    border-radius: 5vh;
    background-color: black;
    padding: 2%;
}
.rb2{
    text-align: center;
    border-radius: 25vh;
    background-color: rgb(138, 116, 131);
    color:blue;
    padding: 2%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.boredershadow{
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 5%;
}